/*common*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #007d3b;
    border-color: #007d3b;
}
.pagination > li> a {
    display: inline;
    cursor: pointer;
}
/***********************************adminService.ftl and service_management.ftl*****************************/
.tdCenter td,.thCenter th{
	text-align:center;
}
.total{
	width:100%;
}
.newline{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.select-style{
	width: 343px;
   	height: 34px;
}
.money-style{
	border: none;
    outline: none;
    width: 70px;
}
.uploadBtn img{
	width:50px;
	height:50px;
	cursor: pointer;
	position: absolute;
    top: -16px;
    z-index: 100;
    left: 24px;
}
/*********************************************************************************************************/

ul li{
	list-style: none;
}
.cl{
	clear: both;
}
.clearBottom{
	margin-bottom: 0px;
}
.word-wrap{
	word-break:break-all;
	width:10%;
}
.newline{
	width:90%; 
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
/*service-request.html*/
#request-header{
	margin: 10px;
}
.new-server{
	width:100px;
	position: absolute;
    right: -10px;
}
.wid{
	width: 30%;
}
.application-name{
    outline: none;
    border: none;
}
/*type-deploy.html*/
.new-type{
	position: absolute;
	right: 26px;
}

#type-content{
	margin-top: 44px;
}

/*login.html*/
#loginBox{
	width: 400px;
	height: 250px;
	background-color: #FFFFFF;
	box-shadow:0 0 4px;
	margin: 0 auto;
	margin-top:9%;
	padding: 10px;
}
